@tailwind base;
@tailwind components;
@tailwind utilities;

.slider::-webkit-scrollbar{

    display: none;
}

.slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}